@import "./components/header.scss";
@import "./components/cursor.scss";
@import "./components/hero.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Avenir", "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #fff;
  background: #000;
  font-size: 16px;
}

// BASIC photogallery massonary code

	ul {
	  display: flex;
	  flex-wrap: wrap;
	}

	li {
	  height: 85vh;
	  flex-grow: 1;
	  padding: 10px;
	}

	li:last-child {
	  // There's no science in using "10" here. In all my testing, this delivered the best results.
	  flex-grow: 10;
	}

	img {
	  max-height: 100%;
	  min-width: 100%;
	  object-fit: cover;
	  vertical-align: bottom;
	}

	// ADVANCED photogallery massonary code

	// Portrait

	@media (max-aspect-ratio: 1/1) {
	  li {
	    height: 30vh;
	  }
	}

	// Short screens

	@media (max-height: 480px) {
	  li {
	    height: 80vh;
	  }
	}

	// Smaller screens in portrait

	@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
	  ul {
	    flex-direction: row;
	  }

	  li {
	    height: auto;
	    width: 100%;
	  }
	  img {
	    width: 100%;
	    max-height: 75vh;
	    min-width: 0;
	  }
	}

.loading {
  visibility: hidden;
}

.chat {
  position: fixed;
  bottom: 48px;
  right: 48px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 2px 2px #00000035)
  svg {
    fill: #000;
    width: 28px;
  }
}
