.hero {
  background: #fff;
  .container {
      padding: 0 10px;
      @media (min-width: 568px) {
              padding: 0 40px;
          }
    }
    .no-margin {
      margin: 0 0 40px 0 !important;
    }
    .hero-mini {
      margin: 0 0 9vh 0 !important;
    }
    .hero-row {
      margin: 0 0 12vh 0 !important;
    }
    .row-end {
      margin-bottom: 14vh !important;
    }
    .hero-works {
      height: auto !important;
      margin: 0 0 180px 0px;
        @media (min-width: 1199px) {
          margin: 0 0 240px 0px;
        }
      span {
        font-size: 1.2rem !important;
          @media (min-width: 768px) {
              font-size: 2.5rem !important;
              line-height: 3rem;
          }
          @media (min-width: 1199px) {
              font-size: 3rem !important;
              line-height: 3.5rem;
            }
          @media (min-width: 1440px) {
              font-size: 4vw !important;
              line-height: 4rem;
          }
      }
      a {
        
        width: 26vw;
        max-width: 28vw;
          @media (min-width: 1440px) {
              min-width: 24vw;
          }
      }
    }
    .hero-inner {
      height: auto;
      margin-top: 45px;
      margin-bottom: 60px;
      display: flex;
      justify-self: center;
      align-items: center;
      @media (min-width: 768px) {
        height: 35vh;
        margin-bottom: none;
      }
      @media (min-width: 1199px) {
        height: 42.5vh;
      }
      
      .hero-inner-col {
        &.left {
          display: none;
        }
        &.right {
        }
        .hero-inner-title {
          z-index: 11;
          position: relative;
          h1 {
            margin: 0;
            font-weight: 400;
            @media (min-width: 1800px) {
              font-size: 28px;
            }
          }
          h2 {
            margin: 0;
            font-weight: 400;
            font-size: 19px;
            @media (min-width: 1800px) {
              font-size: 21px;
            }
          }
        }
        .hero-inner-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }
        .hero-inner-links {
          z-index: 11;
          position: relative;
          display: flex;
          flex-direction: column;
          @media (min-width: 768px) {
            flex-direction: row;
          }
          
          .hero-inner-link-item {
            .hero-inner-link-item-padding {
              position: relative;
              &:before {
                content: "";
                display: block;
                position: absolute;
                top: -30vh;
                bottom: -30vh;
                left: 0;
                right: 0;
              }
            }
            a {
              padding: 0px 0px 45px 0px;
              color: #000;
                @media (min-width: 768px) {
                padding: 12px 14px;
                color: transparent;
                }
                @media (min-width: 1440px) {
                padding: 12px 22px;
                }
              display: inline-block;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              
              transition: color 0.3s, -webkit-text-stroke 0.3s;
              -webkit-text-stroke: 1px #000;
              &:hover {
                color: #000;
                -webkit-text-stroke: 1px transparent;
              }
              span {
                line-height: 1.1;
                font-weight: 700;
                text-shadow: none;
                font-size: 5vw;
              }
            }
            &:first-child {
              a {
                padding-left: 0;
              }
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    .hero-inner-footer {
      .hero-inner-footer-text {
        .form-container {
          display: flex;
          flex-direction: column;
          margin: 40px 0px 60px 0px;
          font-size: 21pt;
          font-weight: 600;
          transition: all 0.2s;
          .form-row {
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
                margin-bottom: 20px;
            }
          }
          .form-element {
            margin-right: 15px;
            margin-bottom: 20px;
            width: 100%;
            @media (min-width: 768px) {
              flex-direction: row;
              margin-right: 40px;
            }
          }
          input { 
            background-color: #f2f2f2;
            padding: 4px 16px;
            width: 100%;
            font-size: 14pt;
          }
          input:focus { 
            background-color: #EBEBEB;
          }
          textarea {
            min-height: 150px;
            padding: 4px 16px;
            min-width: 100%;
            background-color: #f2f2f2;
            font-size: 14pt;
            line-height: 165%;
          }
          textarea:focus { 
            background-color: #EBEBEB;
          }
          button {
            min-width: 260px;
            padding: 11px 16px;
            background-color: #f2f2f2;
            font-size: 21pt;
            font-weight: 800;
            border-radius: 6px;
          }
          button:hover { 
            background-color: #EBEBEB;
          }
        }
        p {
          font-size: 1.2rem;
          width: 94%;
          line-height: 2.4rem;
          margin-bottom: 11vh;
          @media (min-width: 768px) {
              font-size: 1.5rem;
              line-height: 3rem;
              width: 80%;
          }
          @media (min-width: 1199px) {
              font-size: 2rem;
              line-height: 3.5rem;
              width: 70%;
            }
          @media (min-width: 1440px) {
              font-size: 2.2rem;
              line-height: 4rem;
              width: 65%;
          }
        }
      }
    }
  }
