.hero {
  background: #000;
  .container {
      padding: 0 40px;
    }
    .hero-works {
      height: 45vh !important;
      span {
        font-size: 1rem !important;
        @media (min-width: 768px) {
              font-size: 1.5rem !important;
              line-height: 3rem;
              width: 70%;
          }
          @media (min-width: 1199px) {
              font-size: 2rem !important;
              line-height: 3.5rem;
            }
          @media (min-width: 1440px) {
              font-size: 4vw !important;
              line-height: 4rem;
          }
      }
      a {
        max-width: 350px;
        @media (min-width: 768px) {
              max-width: 450px;
          }
        @media (min-width: 1199px) {
              max-width: 600px;
          }
      }
    }
    .hero-inner {
      height: 65vh;
      display: flex;
      justify-self: center;
      align-items: center;
      
      .hero-inner-col {
        &.left {
          display: none;
        }
        &.right {
        }
        .hero-inner-title {
          z-index: 11;
          position: relative;
          h1 {
            margin: 0;
            font-weight: 400;
            @media (min-width: 1800px) {
              font-size: 28px;
            }
          }
        }
        .hero-inner-links {
          z-index: 11;
          position: relative;
          display: flex;
          .hero-inner-link-item {
            .hero-inner-link-item-padding {
              position: relative;
              &:before {
                content: "";
                display: block;
                position: absolute;
                top: -30vh;
                bottom: -30vh;
                left: 0;
                right: 0;
              }
            }
            a {
              padding: 12px 9px;
              color: #fff;
                @media (min-width: 768px) {
                padding: 12px 14px;
                color: transparent;
                }
                @media (min-width: 1440px) {
                padding: 12px 22px;
                }
              display: inline-block;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              
              transition: color 0.3s, -webkit-text-stroke 0.3s;
              -webkit-text-stroke: 1px #fff;
              &:hover {
                color: white;
                -webkit-text-stroke: 1px transparent;
              }
              span {
                line-height: 1.1;
                font-weight: 700;
                text-shadow: none;
                font-size: 5.8vw;
              }
            }
            &:first-child {
              a {
                padding-left: 0;
              }
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    .hero-inner-footer {
      .hero-inner-footer-text {
        p {
          font-size: 1.2rem;
          width: 90%;
          line-height: 2.4rem;
          @media (min-width: 768px) {
              font-size: 1.5rem;
              line-height: 3rem;
              width: 80%;
          }
          @media (min-width: 1199px) {
              font-size: 2rem;
              line-height: 3.5rem;
              width: 70%;
            }
          @media (min-width: 1440px) {
              font-size: 2.2rem;
              line-height: 4rem;
          }
        }
      }
    }
  }
